<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDq6IqL5dTc_tvwD9lv2zadDckWq3lgqe4</string>
	<key>GCM_SENDER_ID</key>
	<string>1011722345635</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dev.tailortech</string>
	<key>PROJECT_ID</key>
	<string>tailortech-1112</string>
	<key>STORAGE_BUCKET</key>
	<string>tailortech-1112.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1011722345635:ios:fe640e5ddc0e4b779ff316</string>
</dict>
</plist>